body {
  background-color: #f5d393;
  margin: 0px;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #eb6765;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: azure;
  font-weight: bold;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body h2 {
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1a0b2a;
  font-weight: bold;
}

body ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 10px;
}

body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: azure;
  font-weight: bold;
  background-color: #261329;
  border-radius: 15%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body ul li img {
  margin: 10px;
  height: auto;
  width: auto;
  border-radius: 15%;
}

body ul li h3 {
  text-decoration: underline;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body ul li p {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body ul li div {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

body aside {
  position: absolute;
  top: 5%;
  right: 5%;
  min-height: 80%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1a0b2a;
  padding: 20px;
  background-color: #eba165;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

body aside div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1a0b2a;
  background-color: #eba165;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

body aside div ul {
  display: inline-block;
}

body aside div ul li {
  background-color: #eba165;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1a0b2a;
  border-radius: 0%;
}

body aside div ul li img {
  margin: 10px;
  height: 50px;
  width: 50px;
}

body aside div ul li span {
  margin: 10px;
}

body aside div ul li button {
  margin: 10px;
}

body aside div p {
  text-align: center;
}

body aside button {
  margin: auto;
}

.carritoInvisible {
  display: none;
}

.carritoVisible {
  display: visible;
}

.radioStock {
  margin-left: 20px;
}

.listaClase {
  margin-left: 20px;
  margin-top: 20px;
}

.menos, .mas {
  height: 25px;
  width: 25px;
  border: 1px black solid;
  border-radius: 50%;
}

.menos:hover {
  background-color: red;
  border: none;
}

.mas:hover {
  background-color: green;
  border: none;
}

.numero {
  margin-left: 5px;
  margin-right: 5px;
}

#carritoBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map */