body{
    background-color: #f5d393;
    margin: 0px;
    header { 
        display: flex;
        padding: 20px;
        background-color: #eb6765;
        width: 100%;
        justify-content: center;
        color: azure;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
    }
    h2 { 
        padding: 20px;
        justify-content: center;
        color: #1a0b2a;
        font-weight: bold;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
        gap: 10px;
        li { 
            display: flex;
            color: azure;
            font-weight: bold;
            background-color: #261329;
            border-radius: 15%;
            height: auto;
            flex-direction:column;
            justify-content: space-around;
            img {
                margin: 10px;
                height: auto;
                width: auto;
                border-radius: 15%;
            }
            h3 {
                text-decoration: underline;
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            div {
                margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        } 
    }
    aside { 
        position: absolute;
        top: 5%;
        right: 5%;
        min-height: 80%;
        margin: auto;
        margin-bottom: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        color: #1a0b2a;
        padding: 20px;
        background-color: #eba165;
        width: 70%;
        justify-content: center;
        font-weight: bold;
        div {
            margin: auto;
            display: flex;
            flex-direction: column;
            color: #1a0b2a;
            background-color: #eba165;
            width: 100%;
            justify-content: center;
            font-weight: bold;
            ul {
                display: inline-block;
                li {
                    background-color: #eba165;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom: 1px solid #1a0b2a;
                    border-radius:0%;
                    img {
                        margin: 10px;
                        height: 50px;
                        width: 50px;
                    }
                    span { 
                        margin: 10px;
                    }
                    button { 
                        margin: 10px;

                    }
                }
            }
            p { 
                text-align: center;
            }
        }
        button {
            margin: auto;
        }
    }
}

.carritoInvisible {
    display: none;
}


.carritoVisible {
    display: visible;
} 

.radioStock {
    margin-left:20px;
}

.listaClase {
    margin-left:20px;
    margin-top: 20px;
}

.menos , .mas{
    height:25px;
    width:25px;
    border:1px black solid;
    border-radius:50%;
}
.menos:hover{
    background-color:red;    
    border:none;
}
.mas:hover{
    background-color:green;
    border:none;
}
.numero {
    margin-left:5px;
    margin-right:5px;
}
#carritoBotones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}